<main class="container">
<s-grid
  lg = "' c_hea  c_hea'  'c_ban  c_ban'  'c_cou   c_sug'   'c_vid   c_map'  'c_wid  c_wid'  'c_foo  c_foo' "
  md ="'  c_hea  c_hea'  'c_ban  c_ban'  'c_cou   c_sug'   'c_vid   c_map'  'c_wid  c_wid'  'c_foo  c_foo'"
  sm ="'  c_hea  c_hea'  'c_ban  c_ban'  'c_cou   c_sug'   'c_vid   c_map'  'c_wid  c_wid'  'c_foo  c_foo'"
  x-sm ="'c_hea' 'c_ban' 'c_sug' 'c_cou' 'c_map'  'c_wid '  'c_foo'" (isMobile) = isMobile($event)>

<s-grid-tile [gridArea]="'c_hea'"  >
  <h1>Header</h1>
</s-grid-tile>

  <s-grid-tile [gridArea]="'c_ban'">
    <h1>Banner</h1>
  </s-grid-tile>

  <s-grid-tile [gridArea]="'c_cou'" >
     <div> <h1>Courses</h1></div>

  </s-grid-tile>

  <s-grid-tile [gridArea]="'c_sug'" >
    <h1>cli_suggedted</h1>
  </s-grid-tile>

  <s-grid-tile [gridArea]="'c_vid'" *ngIf="isMobile">
    <h1>Video</h1>
  </s-grid-tile>

  <s-grid-tile [gridArea]="'c_map'" >
    <h1>MAP</h1>
  </s-grid-tile>

  <s-grid-tile [gridArea]="'c_wid'" >
    <h1>widget</h1>
  </s-grid-tile>

  <s-grid-tile [gridArea]="'c_foo'" >
    <h1>footer</h1>
  </s-grid-tile>


</s-grid>
</main>




