<div class="mat-elevation-z8">

  <mat-card>
    <s-grid
      lg = "'c_name c_filter c_adduser c_search'"
      md = "'c_name c_filter c_adduser c_search'"
      sm = "'c_name c_filter c_adduser c_search'"
      x-sm="'c_name c_filter c_adduser c_search'">

      <s-grid-tile [gridArea]="'c_name'"  >
        <h5>quick filter</h5>
      </s-grid-tile>
      <s-grid-tile [gridArea]="'c_filter'"  >
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Status</mat-label>
              <mat-select formControlName="filterByStatus" class="full-width">
                <mat-option *ngFor="let status of status">
                  {{status}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Role</mat-label>
              <mat-select formControlName="filterByRole" class="full-width">
                <mat-option *ngFor="let role of roles">
                  {{role}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Org Type</mat-label>
              <mat-select formControlName="filterByOrg" class="full-width">
                <mat-option *ngFor="let type of orgType">
                  {{type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </s-grid-tile>

      <s-grid-tile [gridArea]="'c_adduser'"  >
        <button mat-stroked-button color="primary" type="submit">+ Create User</button>
      </s-grid-tile>

      <s-grid-tile [gridArea]="'c_search'"  >
        <mat-form-field class="full-width">
          <input matInput (keyup)="applyFilter($event.target.toString())" placeholder="Search" >
        </mat-form-field>
      </s-grid-tile>
    </s-grid>
  </mat-card>



  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements" style="width: 100%">

    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
      <td mat-cell *matCellDef="let row">{{row.displayName}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">{{row.displayName}}</td>
    </ng-container>

    <ng-container matColumnDef="userRole">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
      <td mat-cell *matCellDef="let row">{{row.userRole}}</td>
    </ng-container>

    <ng-container matColumnDef="organizationType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Organization Type</th>
      <td mat-cell *matCellDef="let row">{{row.displayName}}</td>
    </ng-container>


    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
      <td mat-cell *matCellDef="let row">
        <admin-user-sub-menu [user]="row"></admin-user-sub-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="100"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 50, 100, 200]" (page)="loadMore($event)">
  </mat-paginator>
</div>
