<form [formGroup]="questionForm" (ngSubmit)="onSubmit(questionForm.value)">

  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Create a Question</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-select placeholder="Question Type" formControlName="questionType" (selectionChange)="onSelectedQuestionChange($event)" [(ngModel)]="question.questionType" >

              <mat-option *ngFor="let questionType of questionsTypes" [value]="questionType">
                {{ questionType.label }}
                <mat-chip color="accent" class="questionType" selected>{{questionType.name}}</mat-chip>
              </mat-option>

            </mat-select>
            <mat-error *ngIf="questionForm.controls['questionType'].hasError('required')">
              Answer Type is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col" *ngIf="question.options">

          <dynamic-form-component #form (onSubmit)="onSubmit($event)" [fields]="[question]"
                                  [form]="questionForm"
                                  [title]="''" [disableSubmit]="true"></dynamic-form-component>
        </div>


      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" >
            <input matInput placeholder="question" formControlName="description" [(ngModel)]="question.description">
            <mat-error *ngIf="questionForm.controls['description'].hasError('required')">
              Question <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Grouping</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <label id="example-radio-group-label">Question Level</label>
          <mat-radio-group required formControlName="questionLevel" [(ngModel)]="question.questionLevel">
            <mat-radio-button [value]="level" *ngFor=" let level of questionLevels">{{level.name}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col">

          <label id="example-radio-group-label">Labels</label>
          <mat-chip-list required aria-label="Fish selection">
            <div *ngFor="let label of questionLabels">
              <mat-checkbox #checkbox (change)="onLabelChange(checkbox.checked,label)"></mat-checkbox>
              <mat-chip>{{label.name}}</mat-chip>
            </div>
          </mat-chip-list>
        </div>
      </div>

    </mat-card-content>
  </mat-card>


  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Scoring mechanism</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <!-- <label id="example-radio-group-label">Question Type</label>-->
          <mat-radio-group formControlName="scoringMechanism" [(ngModel)]="question.scoringMechanism">
            <mat-radio-button *ngFor="let scoreMechanism of scoringMechanisms" [value]="scoreMechanism">
              {{scoreMechanism.type}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="!questionForm?.valid" type="submit">Submit</button>
    <button mat-raised-button color="primary" [disabled]="!questionForm?.touched">Cancel</button>
  </mat-card-actions>
</form>



