<div *ngIf="percentage | async as pct">
  <mat-progress-bar  [value]="pct" mode="buffer" [bufferValue]="pct"></mat-progress-bar>
  {{ pct | number:'1.0-0' }}%
  <span *ngIf="snapshot | async as snap">
    <button mat-raised-button color="warn"  (click)="task.pause()" [disabled]="!isActive(snap)">Pause</button>
<!--    <button (click)="task.cancel()" [disabled]="!isActive(snap)">Cancel</button>-->
    <button mat-raised-button color="accent" (click)="task.resume()" [disabled]="!(snap?.state === 'paused')">Resume</button>
  </span>
</div>



<!--<div *ngIf="snapshot | async as snap">

  {{ snap.bytesTransferred }} of {{ snap.totalBytes }}

  &lt;!&ndash;<div *ngIf="downloadURL as url">
    <h3>Results!</h3>
    <img [src]="url" alt="N/A"><br>
    <a [href]="url" target="_blank" rel="noopener">Download Me!</a>
  </div>&ndash;&gt;


</div>-->
