<main class="container">

  <s-grid
    lg="' w_hea  w_hea'  'w_ban  w_ban'  'train   libra'   'lerarn   help'  'center  center'  'w_foo  w_foo' "
    md="'  w_hea  w_hea'  'w_ban  w_ban'  'train   libra'   'lerarn   help'  'center  center'  'w_foo  w_foo'"
    sm="'  w_hea  w_hea'  'w_ban  w_ban'  'train   libra'   'lerarn '  'help'  'center  center'  'w_foo  w_foo'"
    x-sm="'  w_hea '  'w_ban '  'train'   'lerarn '  'center ' 'help'  'w_foo' 'libra'">

    <s-grid-tile [gridArea]="'w_hea'">
      <web-menu></web-menu>
      <!--<event-banner></event-banner>-->
    </s-grid-tile>

    <s-grid-tile [gridArea]="'w_ban'">
      <!--<s-slider></s-slider>-->
      <!--<web-search></web-search>-->

    </s-grid-tile>

    <s-grid-tile [gridArea]="'train'">
      <div class="sgrid-2">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://docs.moodle.org/dev/images_dev/c/c5/bar_chart.png"
               alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://docs.moodle.org/dev/images_dev/c/c5/bar_chart.png"
               alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </s-grid-tile>

    <s-grid-tile [gridArea]="'libra'">
      <div class="sgrid-2">
        <event-banner></event-banner>
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Input">
          </mat-form-field>

          <mat-form-field>
            <textarea matInput placeholder="Textarea"></textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Select">
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </s-grid-tile>

    <s-grid-tile [gridArea]="'lerarn'">
      learn
    </s-grid-tile>

    <s-grid-tile [gridArea]="'help'">
      help
    </s-grid-tile>

    <s-grid-tile [gridArea]="'center'">
      center
    </s-grid-tile>

    <s-grid-tile [gridArea]="'w_foo'">
      <div class="sgrid-8 wrapper">
        <div>A</div>
        <div>B</div>
        <div>C</div>
        <div>D</div>
        <div>E</div>
        <div>F</div>
        <div>G</div>
        <div>H</div>
      </div>
    </s-grid-tile>


  </s-grid>
</main>

