<div class="form-container" *ngIf="permissions; else loading">
  <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
    <mat-card-header>
      <mat-card-title>{{formTitle}}</mat-card-title>
    </mat-card-header>
    <mat-card class="form-container">
      <mat-form-field>
        <textarea matInput placeholder="Role Id" formControlName="roleId"></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Role Name" formControlName="name"></textarea>
      </mat-form-field>
    </mat-card>
    <label>Select permissions :</label>
    <mat-card class="form-container">
      <mat-list>
        <mat-list-item *ngFor="let permission of permissions | async">
          <mat-slide-toggle [checked]="false" (change)="addRemovePermission(permission,$event.checked)">{{
            permission.description }}
          </mat-slide-toggle>
        </mat-list-item>
      </mat-list>
      <div *ngIf="submitted && roleForm.controls.roleId.errors" class="error">
        <div *ngIf="roleForm.controls.roleId.errors.required">Role Id is required</div>
      </div>
      <div *ngIf="submitted && roleForm.controls.name.errors" class="error">
        <div *ngIf="roleForm.controls.name.errors.required">Role name is required</div>
      </div>
      <button mat-raised-button color="secondary" type="reset" (click)="reset()">Reset</button>
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <div *ngIf="submitted && success">Role saved !!</div>
    </mat-card>
  </form>
</div>

<ng-template #loading>Loading</ng-template>





