<form [formGroup]="userEditForm" (ngSubmit)="editUser()">
  <mat-card class="form-container">
    <mat-card-header>
      <mat-card-title> {{ formTitle }}</mat-card-title>
    </mat-card-header>


    <mat-form-field>
      <textarea matInput placeholder="First Name" formControlName="firstName"></textarea>
    </mat-form-field>


    <mat-form-field class="full-width">
      <textarea matInput placeholder="Last Name" formControlName="lastName"></textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea matInput placeholder="Display Name" formControlName="displayName"></textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea matInput placeholder="Email" formControlName="email"></textarea>
    </mat-form-field>

    <div class="command-btn-container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
      <button mat-raised-button color="primary">{{submitBtnText}}</button>
      <button mat-raised-button color="basic" (click)="backToUserManage()">Cancel</button>
    </div>
  </mat-card>
</form>
