@import "variables";

[class |="sgrid"]{
  display: grid;
  grid-gap: $grid_gutter;
}

.s-textCenter {
  text-align: center;
}
.sgrid-2, .sgrid-3, .sgrid-4, .sgrid-6, .sgrid-8{}
//Sathi 960 grid system
//
@mixin sathi-setColumnsWith($columns) {
 grid-template-columns: repeat($columns, 1fr);
}

@media (max-width: 599px) {
  .sgrid-2 {
      @include sathi-setColumnsWith(1);
  }
  .sgrid-3 {
      @include sathi-setColumnsWith(1);
  }
  .sgrid-4 {
      @include sathi-setColumnsWith(1);
  }
  .sgrid-6 {
      @include sathi-setColumnsWith(1);
  }
  .sgrid-8 {
      @include sathi-setColumnsWith(1);
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .sgrid-2 {
      @include sathi-setColumnsWith(2);
  }
  .sgrid-3 {
      @include sathi-setColumnsWith(3);
  }
  .sgrid-4 {
      @include sathi-setColumnsWith(2);
  }
  .sgrid-6 {
      @include sathi-setColumnsWith(2);
  }
  .sgrid-8 {
      @include sathi-setColumnsWith(3);
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  .sgrid-2 {
      @include sathi-setColumnsWith(2);
  }
  .sgrid-3 {
      @include sathi-setColumnsWith(3);
  }
  .sgrid-4 {
      @include sathi-setColumnsWith(2);
  }
  .sgrid-6 {
      @include sathi-setColumnsWith(4);
  }
  .sgrid-8 {
      @include sathi-setColumnsWith(6);
  }
}
@media (min-width: 1280px) and (max-width: 1919px) {
  .sgrid-2 {
      @include sathi-setColumnsWith(2);
  }
  .sgrid-3 {
      @include sathi-setColumnsWith(3);
  }
  .sgrid-4 {
      @include sathi-setColumnsWith(4);
  }
  .sgrid-6 {
      @include sathi-setColumnsWith(6);
  }
  .sgrid-8 {
      @include sathi-setColumnsWith(8);
  }
}

@media (min-width: 1920px) and (max-width: 5000px) {
  .sgrid-2 {
      @include sathi-setColumnsWith(2);
  }
  .sgrid-3 {
      @include sathi-setColumnsWith(3);
  }
  .sgrid-4 {
      @include sathi-setColumnsWith(4);
  }
  .sgrid-6 {
      @include sathi-setColumnsWith(6);
  }
  .sgrid-8 {
      @include sathi-setColumnsWith(8);
  }
}


.wrapper {
 > div{
   background-color: #444;
   color: #fff;
   padding: 20px;
   font-size: 150%;
 }
}
