.questionnaire-list {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
}

:host{
  --drag-drop-list-height:90%;
  --drag-drop-list-width:100%;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}
.example-card{
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  clear: both;
}
