<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item  (click)="viewActivity()">
    <mat-icon>collections_bookmark</mat-icon>
    <span>View Activity</span>
  </button><button mat-menu-item  (click)="edit()">
    <mat-icon>edit</mat-icon>
    <span>Edit Activity</span>
  </button>
  <button mat-menu-item>
    <mat-icon>do_not_disturb</mat-icon>
    <span>Disable Activity</span>
  </button>
</mat-menu>