<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest class="box">
  <h3>GUEST</h3>
  <p class="card-text">Login to get started...</p>
  <button class="button" routerLink="/login">Login</button>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <ul *ngIf="auth.user | async as user">
    <li><h5>{{ user.displayName }}</h5></li>
    <li><img class="card-img-top" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>
    </li>
    <li>
      <button mat-raised-button (click)="logout()" i18n="@@logout">Logout</button>
    </li>
  </ul>
</ng-template>

